.climb-spiner{
  position: fixed;
  text-align: center;
  z-index: 999;
  &,.spiner-cover{
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
  }
  .spiner-cover{
    position:absolute;
    background: #111;
    opacity: .5;
    z-index: 1
  }
  .spiner-cont{
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2
  }
}