.main {
    .climb-con {
        background: $theme;
        .sidebar-collapse {
            background: lighten($theme, 0%);
            border-color: lighten($theme, 15%);
            &:hover {
                background: lighten($theme, 15%);
            }
        }
        .climb-logo {
            color: lighten($theme, 80%);
        }
        .rightbar {
            .closePic {
                color: lighten($theme, 80%);
                &:hover {
                    color: lighten($theme, 100%);
                }
            }
        }
    }
    .tabs-list {
        &>li.active {
            color: lighten($theme, 5%);
            .btn-close {
                color: lighten($theme, 5%);
                top: 6px;
                &:hover {
                    color: lighten($theme, 80%);
                    background-color: lighten($theme, 10%);
                }
            }
        }
        &>li {
            .btn-close {
                top: 6px;
                &:hover {
                    color: lighten($theme, 80%);
                    background-color: lighten($theme, 10%);
                }
            }
        }
    }
}

// tabs框架下的首页
.box {
    border: 1px solid lighten($theme, 5%);
    .box-title {
        color: lighten($theme, 80%) !important;
        background-color: lighten($theme, 5%);
        border-bottom: 1px solid lighten($theme, 5%);
    }
    .ivu-tabs-ink-bar {
        background-color: lighten($theme, 5%);
    }
    .ivu-tabs-nav .ivu-tabs-tab:hover {
        color: lighten($theme, 5%);
    }
}

// tabs框架下的左侧菜单
.side-menu {
    .ivu-menu-light.ivu-menu-vertical {
        // .ivu-menu-item-active:not(.ivu-menu-submenu) {
        //     // color: lighten($theme, 5%);
        //     border-right: 0;
        //     z-index: 2;
        // }
        // .ivu-menu-item.sm-active {
        //     color: lighten($theme, 5%);
        //     border-right: 2px solid lighten($theme, 5%);
        // }
        // .ivu-menu-item-selected{
        //     color: lighten($theme, 5%);
        //     border-right: 2px solid lighten($theme, 5%);
        // }
    }
}
.climb-not-found{
    color: $theme
}